@charset "UTF-8";

* { /* reset css */
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(59, 88, 93), rgb(29, 40, 42));
    height: 100vh; /* ocupar 100% do espaço do display */
    color: #fff;
    font-family: sans-serif;
    display: flex; /* mudanca de disposicao */
    flex-direction: column;
    }

#below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 1.5em;
}

.button-navigate {
    font-size: 2em;
}

.button-biggest {
    font-size: 3em;
}

/* */

#image-song {
    max-width:500px;
    max-height:450px;
    width: auto;
    height: auto;
    text-align: center;
}

main {
    padding: 50px;
    width: 600px;
    margin: auto; /* centralizar */
}

h5 {
    text-align: center;
    padding-bottom: 13px;
}

div {
    padding: 3px;
}